.studypage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timerbox {
  font-family: "Jersey 10";
  font-size: 128px;

  color: var(--fontclr);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 70vw;

  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
}

.timerbox input {
  font-family: "Jersey 10";
  font-size: 128px;

  width: 116px;
  text-align: right;

  background: none;
  color: var(--fontclr);
  border: none;

  caret-color: transparent;
  user-select: none;
}

.timerholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.timertoggle {
  display: none;
  border: none;
  outline: none;
  background: none;

  color: var(--fontclr);

  font-family: "Jersey 10";
  font-size: 32px;
}

.timercontrols {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  --webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  --moz-appearance: textfield;
  appearance: textfield;
}

#spinners {
  display: flex;
  flex-direction: column;
}

#spinners button {
  margin: var(--spacing);

  outline: none;
  color: var(--fontclr);
  background: none;
  border: none;

  transition: var(--trans);
}

#spinners button:active,
.timertoggle:active {
  width: 48px;
  height: 48px;
}

#spinners button img {
  mask: url("../../assets/images/arrow.svg") no-repeat center;
  -webkit-mask: url("../../assets/images/arrow.svg") no-repeat center;
  width: 48px;
}

#spinnerdown {
  rotate: 180deg;
}

.notes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;

  background-color: var(--clr);
  color: var(--fontclr);

  width: 30vw;
  height: 70vh;

  padding: var(--spacing);
  margin: var(--spacing);
  margin-top: 10vh;

  border-radius: 16px;
  border: 1px solid var(--fontclr);

  filter: drop-shadow(0 16px 8px rgba(0, 0, 0, 0.5));
}

.notes textarea {
  font-family: Inter;
  text-align: left;

  flex: 0 0 75%;
  box-sizing: border-box;
  width: 100%;

  border: none;
  border-radius: 8px;
  outline: none;

  resize: none;
  padding: var(--spacing);

  border: 1px solid var(--fontclr);
}

.savebox {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 20%;
}

.savebox button {
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-radius: 32px;
  border: 2px solid #272727;
  color: #272727;
  outline: none;

  font-family: "Inter";
  font-size: var(--fontsize);
  font-weight: 600;

  background-color: var(--theme);

  width: 50%;
  align-self: center;
}

.savebox button:active {
  font-size: var(--fontsmall);
  width: 40%;
}

.savename {
  display: flex;
  flex-direction: column;
  position: relative;
}

.savename input {
  border: none;
  padding: var(--spacing);
  padding-left: 25px;
  border-radius: 8px;
  border: 1px solid var(--fontclr);
}

label {
  font-weight: 800;
  padding: 2px;
}

#openToggle {
  height: max-content;
  align-self: center;

  margin: var(--spacing);
  padding: var(--spacing);

  border: 1px solid var(--fontclr);
  border-radius: 8px;

  outline: none;

  background: var(--clr);
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
}

#openToggle img {
  height: 32px;
}

.savename::before {
  pointer-events: none;
  position: absolute;

  content: "";
  background: url(../../assets/images/arrow-round.svg) no-repeat center;
  background-size: contain;

  width: 10px;
  height: 20px;

  rotate: 90deg;

  top: 40%;
  margin: var(--spacing) 0 0 var(--spacing);
}